<h2 class="h2-headings">Anime List</h2>
<div class="display-container">
    <p class="seeAll">SEE ALL</p>
    <div class="display">
        <div class="display-image"><img src="assests/city/mumbai.jpg"></div>
        <p class="diplay-title">The Sound of Mumbai</p>
        <p class="desc">The songs that define, unite and distinguish Mumbai IN...</p>
    </div>
    <div class="display">
        <div class="display-image"><img src="assests/city/kolkata.jpeg"></div>
        <p class="display-title">The Sound of kolkata IN</p>
        <p class="desc">The songs that define, unite and distinguish Kolkata IN...</p>
    </div>
    <div class="display">
        <div class="display-image"><img src="assests/city/delhi.jpeg"></div>
        <p class="display-title">The Sound of Delhi IN</p>
        <p class="desc">The songs that define, unite and distinguish Delhi IN...</p>
    </div>
    <div class="display">
        <div class="display-image"><img src="assests/city/bengaluru.jpeg"></div>
        <p class="display-title">The Sound of Bengaluru..</p>
        <p class="desc">The songs that define, unite and distinguish Bengaluru IN...</p>
    </div>
</div>