<h2 class="h2-headings">Top Artists</h2>
<section class="artists">
	<img src="assests/artists/arijit.jpeg" alt="Arijit-Singh">
	<img src="assests/artists/justin.jpg" alt="Justin-Bieber">
	<div class="masterArtist">
		<a href="single-Artist.html">
			<i class="fa-solid fa-play icon"></i>
		</a>
	</div>
		<img src="assests/artists/shreya.jpg" alt="Shreya-Ghosal">
		<img src="assests/artists/Shankar.jpg" alt="arijit-singh">
		<img src="assests/artists/kailash.jpg" alt="arijit-singh">
		<img src="assests/artists/mahesh.jpeg" alt="arijit-singh">
</section>