<h2 class="h2-headings"> Pinoy Classic</h2>
				<div class="display-container">
					<p class="seeAll">SEE ALL</p>
					<div class="display">
						<div class="display-image"><img src="assests/focus/1.jpg" alt=""></div>
						<p class="display-title">Peaceful Piano</p>
						<p class="desc">Relax and indulge with beautiful piano pieces</p>
					</div>
					<div class="display">
						<div class="display-image"><img src="assests/focus/2.jpeg" alt=""></div>
						<p class="display-title">Deep Focus</p>
						<p class="desc">Keep calm and focus with ambient and post-rock...</p>
					</div>
					<div class="display">
						<div class="display-image"><img src="assests/focus/3.jpeg" alt=""></div>
						<p class="display-title">Instrumental Study</p>
						<p class="desc">A soft musical backdrop for your studies.</p>
					</div>
					<div class="display">
						<div class="display-image"><img src="assests/focus/4.jpeg" alt=""></div>
						<p class="display-title">Enhance Problem Solving while listening</p>
						<p class="desc">A new semester ahead with beats to chill,relax,study,and...</p>
					</div>
				</div>