<header class="header-container">
    <section class="left-side">
        <img src="assests/logo/logo.jpg" alt="logo-image">
        <h3>Renz <span class="logo-text">Vibes</span></h1>
            
    </section>
    <section class="right-side">
        <p><a href="/" class="custom-button">Home</a></p>
        <p><a href="/favorites" class="custom-button">Favorites</a></p>
        <p><a href="/artist" class="custom-button">Artist</a></p>
        <p><a href="/playlist" class="custom-button">Playlist</a></p>
        <p><a href="/about" class="custom-button">About</a></p>
    </section>
</header>