<section class="masterPlay">
    <div class="leftside">
        <img src="assests/cover-images/linkin-park.jpg">
        <div class="song-details">
            <p class="song-title">In The End</p>
            <p class="artist-name"><a href="https://www.youtube.com/watch?v=WNeLUngb-Xg" target="_blank">Linkin Park</a></p>
        </div>  
    </div>
    <div class="middle">
        <audio src="./assests/linkin-park.mp3" controls></audio>
        <img src="./assests/icons/shuffle.png">
        <img src="./assests/icons/repeat.png">
        <img src="./assests/icons/expand-arrows.png" class="expand">
    </div>
</section>