<div class="main-layout">
    <!-------------------- Trending section ---------------------->
    <section class="trending">
        <img src="assests/trending/1.webp">
        <img src="assests/trending/tomarrowland.jpeg">
        <img src="assests/trending/3.jpg">
    </section>